<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<p>
    <a th:href="@{/user/index}">Back to user list</a>
</p>
<h1>Create User</h1>
<form th:action="@{/create}" th:object ="${userDto}" method="post" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <span>Tên: </span>
        <td ><input type="text" th:field="*{firstName}"/></td>
        <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red">Name Erro</td>
    </div>
    <div>
        <span>Họ: </span>
        <td><input type="text" th:field="*{lastName}"/></td>
        <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red">Name Error</td>
    </div>
    <div>
        <span>Số điện thoại: </span>
        <td><input type="text" th:field="*{phoneNumber}"/></td>
        <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red">Name Error</td>
    </div>
    <div>
        <span>Tuổi: </span>
        <td><input type="text" th:field="*{age}"/></td>
        <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red">Name Error</td>
    </div>
    <div>
        <span>Email: </span>
        <td><input type="email" th:field="*{email}"/> </td>
        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Name Error</td>
    </div>
    <input type="submit" value="create"/>
</form>
</body>
</html>