<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/layout :: head}">

    </th:block>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<form th:action="@{/home/edit}" th:object="${transactionDto}" method="post" novalidate="novalidate">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-center">Chỉnh sửa Giao Dịch</h2>
            </div>
            <input type="hidden" th:field="*{id}">
            <div class="panel-body">
                <div class="form-group">
                    <label for="codeCustomer">Mã Giao Dịch:</label>
                    <input type="text" class="form-control" id="codeCustomer" th:field="*{codeTransaction}">
                    <p style="color: red" th:if="${#fields.hasErrors('codeTransaction')}" th:errors="*{codeTransaction}"></p>
                </div>
                <div class="form-group">
                    <label for="name">Tên Khách Hàng:</label>
                    <select th:field="*{customer.id}" class="form-control" id="name" name="nameCustomer" required>
                        <option  value="">Chọn khách hàng...</option>
                        <option th:each="item : ${customer}"
                                th:value="${item.id}" th:text="${item.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="day">Loại Bất Động Sản:</label>
                    <input type="radio" th:field="*{serviceType}" th:value="1" style="margin-left: 20px"/>Đất
                    <input type="radio" th:field="*{serviceType}" th:value="2" style="margin-left: 20px"/>Nhà Đất
                    <!--                <p style="color: red" th:if="${#fields.hasErrors('serviceType')}" th:errors="*{serviceType}"></p>-->
                </div>
                <div class="form-group">
                    <label for="day">Ngày Giao dịch:</label>
                    <input type="date" class="form-control" id="day" th:field="*{date}">
                </div>
                <div class="form-group">
                    <label for="price">Đơn Giá:</label>
                    <input  type="text" class="form-control" id="price" th:field="*{price}">
                    <p style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                </div>
                <div class="form-group">
                    <label for="area">Diện Tích:</label>
                    <input type="text" class="form-control" id="area" th:field="*{area}">
                    <p style="color: red" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></p>
                </div>
            </div>
        </div>
    </div>
    <center>
    <button type="submit" value="Lưu" style="height: 50px; width: 60px; text-align: center" class="btn btn-info">Lưu</button>
    <a th:href="@{/home/list}" class="btn btn-danger">Quay Lại</a>
    </center>
    </form>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>