<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/layout :: head}">

    </th:block>
    <meta charset="UTF-8">
    <title>Danh sách</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<h2>DANH SÁCH GIAO DỊCH NHÀ ĐẤT</h2>
<nav class="navbar navbar-light bg-light">
    <a th:href="@{/home/create}" class="navbar-brand btn btn-outline-success">Thêm mới</a>
<!--    <form th:action="@{/home/search}" method="get">-->
<!--        <select name="search" >-->
<!--            <option value="1">nhaf ddat</option>-->
<!--            <option value="2"> ddat</option>-->
<!--        </select>-->

<!--    </form>-->
    <form class="form-inline" th:action="@{/home/search}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<p>
    <a th:text="${message}"></a>
</p>
<table border="1" id="transactions">
    <thead>
    <tr>
        <th>Mã giao dịch</th>
        <th>Tên Khách Hàng</th>
        <th>Ngày Giao Dịch</th>
        <th>Loại Dịch Vụ</th>
        <th>Đơn Giá(VND/m2)</th>
        <th>Diện Tích(m2)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${}">
        <td th:text="${item}"></td>
        <td th:text="${item}"></td>
        <td th:text="${item}"></td>
        <td th:text="${item}"></td>
        <td th:text="${#numbers.formatDecimal(item.price,4,2)}"></td>
        <td th:text="${item.}"></td>
        <td><a class="btn btn-outline-primary" th:href="@{/home/view/__${item.getId()}__}">Chi tiết</a></td>
        <td><a class="btn btn-outline-primary" th:href="@{/home/edit/__${item.getId()}__}">Chỉnh Sửa</a></td>
        <td><a class="btn btn-outline-primary" th:href="@{/home/delete/__${item.getId()}__}">Xóa</a></td>
    </tr>
    </tbody>
</table>
<center>
<div class="number" style="margin-top: 20px">
    <a class="btn btn-outline-primary" th:href="@{'/home/list'(page = ${transactions.number -1})}"
       th:if="${transactions.hasPrevious()}">Quay lại</a>
    <span th:text="${transactions.number + 1}"></span>
    <span th:text="${transactions.totalPages}"></span>
    <a class="btn btn-outline-danger" th:href="@{'/home/list'(page = ${transactions.number + 1})}"
       th:if="${transactions.hasNext()}">Tiếp theo</a>
</div>
</center>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>