<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Blog</h3>
<p>
    <a th:href="@{/templates/blog}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tille Blog</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content Blog</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <label>Blog Content</label>
            <input type="text" th:field="*{detail}"/>
        </div>
        <div>
            <label>Blog Content</label>
            <input type="text" th:field="*{dateTime}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>

</body>
</html>