<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blog C1021G1</h1>
<p>
    <a th:href="@{/create}">
        Add new Blog
    </a>
</p>
<p th:text="${message}"></p>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Blog Tittle</th>
        <th>Blog Content</th>
        <th>Content Blog</th>
        <th>Date Create</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td th:text="${blog.id}"></td>
        <td ><a th:href="@{/view/__${blog.id}__}" th:text="${blog.title}"></a></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.detail}"></td>
        <td th:text="${blog.dateTime}"></td>
        <td><a th:href="@{/edit/__${blog.id}__}">edit</a></td>
        <td><a th:href="@{/delete/__${blog.id}__}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</table>
</body>
</html>